.hide {
	display: none;
}

.splash {
	background: #3E3E3E; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#3E3E3E'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#3E3E3E)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #888888,  #3E3E3E); /* for firefox 3.6+ */ 
}

#splash {position:absolute; top:50%; height:240px; margin-top:-120px; width: 100%; /* negative half of the height */}



.ui-header .ui-btn-2nd-right { position: absolute; right: 40px; top: .4em; }

.ui-link {
    color: #DF674C;
    font-weight: bold;
}

label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait) {
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape) {
    label.error { display: inline-block; margin-left: 22%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }

.ui-icon-enlighten-chart {
	background-image: url("images/bar-chart.png");
}

.ui-icon-enlighten-stats {
	background-image: url("images/stats.png");
}
